* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(20, 20, 20);
    height: 100vh;
    width: 100vw;
}

header {
    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
}

header p {
    color: aliceblue;
    font-size: 100px;
    margin-left: 10px;
}

/* .slider{

}
.slist{
    
}
.simages{

} */
.dad{
    display: flex;
    width: 100vw;
 
    justify-content: center;
    align-items: center;

    margin-top: 60px;
}
section {

     
 


    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        "a b c"
    ;
    gap: 50px;
    
}

.box {

    width: 500px;
    margin-top: 30px;
    background-color: gray;
    border-radius: 30px;
    padding: 20px;

    text-align: center;
}

#b1 {
    grid-area: a;
}

#b2 {
    grid-area: b;
}

#b3 {
    grid-area: c;
}

.box img {
    overflow: hidden;
    object-fit: cover;
}

.box p {


    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-style: normal;
    margin-bottom: 10px;
}


.box a {


    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-style: normal;
    text-decoration: none;

    color: rgb(255, 255, 255);

    background-color: rgb(20, 20, 20);
    padding: 5px;
    border-radius: 20px;
}

@media (max-width:1800px) {
    section {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "a b"
            "c c"
         
        ;
       
    }

    header p {
        color: aliceblue;
        font-size: 50px;
        
    }
    .box{
        max-width: 900px;
    }.box img{
        max-width: 800px;
    }
}
@media (max-width:1160px) {
    section {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "a"
            "b"
            "c"
         
        ;
}
@media (max-width:560px) {
    .box{
        max-width: 300px;
    }.box img{
        max-width: 300px;
    }
    .box a{
        border-radius: 0px;
    }
}